#todoInput{
    border: none;
    
}

.Counter,.memo {
    display: flex;
    align-items: center; /* Center items vertically */
  }
  
  .Counter h1 {
    margin-right: 10px; /* Adjust spacing as needed */
  }
  
  .Counter button {
    box-sizing: border-box;
    flex-grow: 0;
  }